{% extends "base.html" %}

{% block main %}
    <section class="row column">
        <h2>What is it?</h2>
        Tired of reading negative remarks on the
    </section>
    <section class="row">
        <div class="column">
            <h2>I need it!</h2>
        </div>
        <div class="medium-6 columns">
            <h3>Chrome Extension</h3>
            <a class="button expanded alert" href="#"><i class="fi-download"></i> Download 0.8.6 <em>(beta)</em></a>
        </div>
        <div class="medium-6 columns">
            <h3>Firefox Add-on</h3>
            <a class="button expanded alert disabled" href="#"><i class="fi-clock"></i> Coming <em>Really</em> Soon!</a>
        </div>
    </section>
{% endblock %}